/* MI PAGINA */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.cabecera {
    background-color: #FCF0E3;
    padding: 1% 1% 2% 1% ;
    display: flex;
    width: 100%;
    border-bottom: 3px solid black;
}
.cabecera .iconos  {   
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.cabecera .iconos a {
    text-decoration: none;
    color: white;
    padding-top: 1.5%;
    padding-left: 1.5%;
    font-size: 22pt;
}


.cabecera .logo > a img {
   width: 100px;
   height: auto;
}

.cabecera {
    background-image: url('../imagenes/Imagenes/drosefondo.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.92;
}

.footer {
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    align-items: center;
}


.Info {
    padding-top: 30px;
    font-size: 13pt;
    padding-bottom: 30px;
    text-align: center;
    width: 25%;
}

.Info a {
    margin-right: 4%;
    text-decoration: none;
    color:white;

}
.Info a:visited {
    color: white;
    text-decoration: none;
}
.divredes {
    margin-left: auto;
    text-align: right;
    color: white;
    font-size: 25pt;
    margin-left: 30px;
    padding-top: 20px;
}


.divredes > .redes > a i{
    text-decoration: none;
    color:white;
}
.divredes > .redes>  a:visited i{
    text-decoration: none;
    color: white;
}
