    .noticia img {
        width: 400px;
        margin-bottom: 33px;
    }

    .texto {
        width: 90%;
        font-size: 16pt;
        border: 1px solid black;
    }

    .centrarenlace {
        width: 100%;
        text-align: center;
        margin-bottom: 33px;
    }