/* Estilos generales para la página de login */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .login-container button {
    padding: 10px;
    background-color: #DF1882;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-container button:hover {
    background-color: #d4136b;
  }
  
  .login-container p {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-container a {
    color: #DF1882;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  